In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:\Paarsh mt\Job market and employment.csv')

In [3]:
df.head()

,Name,Age,Gender,Highest Education Level,Current Status,Current Industry/Domain,Current Job Position,Current Job Satisfaction Level,Years of Experience,Current Salary,Ever Changed Occupation?,Reason for Change,Previous Industry/Domain,Previous Job Position,Previous Salary,Interested in Changing Jobs in the Future?,"If Yes, Preferred Industry/Domain",Employment Gap Duration,Reason for Gap
0,Dhanush Kala,NaN,F,NaN,Unemployed,Education,Teacher,5,40,NaN,N,Career Growth,NaN,NaN,NaN,Yes,Retail,Two Years,Layoff
1,Tejas Mand,30,Male,Diploma,Homemaker,IT,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Two Years,NaN
2,Vritika Khosla,NaN,NaN,High School,Jobless,Govt,Accountant,Unsatisfied,NaN,NaN,No,Work-Life Balance,NaN,NaN,NaN,Yes,Manufacturing,47,Higher Studies
3,Farhan Tata,Thirty,M,Bachelor's,Homemaker,Finance,Unemployed,1,NaN,NaN,N,Career Growth,NaN,NaN,NaN,NaN,NaN,Two Years,Health Issues
4,Pari Sachdeva,59,Female,High School,Student,Healthcare,NaN,5,NaN,122346,Yes,Career Growth,IT,NaN,19518.0,Yes,Finance,NaN,NaN

In [ ]:
selected_columns = ['Age', 'Gender', 'Highest Education Level']
print("Data types of columns:\n", df[selected_columns].dtypes)
print("\nMissing values count :\n", df[selected_columns].isnull().sum())

Data types of selected columns:
 Age                        object
Gender                     object
Highest Education Level    object
dtype: object

Missing values count in selected columns:
 Age                        3287
Gender                     1711
Highest Education Level    1622
dtype: int64

In [5]:
print("Unique values in 'Age' column:\n", df['Age'].unique())

Unique values in 'Age' column:
 [nan '30' 'Thirty' '59' '55' '45' '36' '42' '33' '32' '29' '47' '39' '48'
 '22' '28' '26' '54' '35' '43' '23' '27' '52' '41' '57' '60' '20' '53'
 '40' '34' '50' '37' '25' '58' '56' '19' '51' '44' '18' '46' '38' '49'
 '31' '21' '24']

In [6]:
age_mapping = {'Thirty': '30'}
df['Age'] = df['Age'].replace(age_mapping)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print("Data types after 'Age' conversion:\n", df['Age'].dtype)
print("Unique values in 'Age' after conversion and coercion:\n", df['Age'].unique())

Data types after 'Age' conversion:
 float64
Unique values in 'Age' after conversion and coercion:
 [nan 30. 59. 55. 45. 36. 42. 33. 32. 29. 47. 39. 48. 22. 28. 26. 54. 35.
 43. 23. 27. 52. 41. 57. 60. 20. 53. 40. 34. 50. 37. 25. 58. 56. 19. 51.
 44. 18. 46. 38. 49. 31. 21. 24.]

In [7]:
print(df.select_dtypes(include=np.number).describe())

               Age  Previous Salary
count  6713.000000       995.000000
mean     34.677491     49344.934673
std      10.060105     28946.494280
min      18.000000      1003.000000
25%      30.000000     23860.500000
50%      30.000000     49085.000000
75%      40.000000     74643.500000
max      60.000000     99943.000000

KeyError: 'Department'